server:
  port: 8080

spring:
  application:
    name: bytebank-monolith
  datasource:
    url: jdbc:postgresql://localhost:5432/bytebank_db
    username: bytebank
    password: docker
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        "[format_sql]": true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
